<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}postpit{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', path='app.css') }}" />

    <script type="module" src="{{ url_for('static', path='app.js') }}"></script>

    {% if DEV_RELOAD %}
      <script>
        const proto = location.protocol === "https:" ? "wss:" : "ws:";
        const ws = new WebSocket(`${proto}//${location.host}/hot-reload`);
        ws.onmessage = () => location.reload();
      </script>
    {% endif %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
