{% extends "layouts/app.html.j2" %}
{% from "macros/empty_state.html.j2" import empty_state %}

{% block title %}not found · posthole{% endblock %}

{% block main %}
  <div role="alert" class="flex h-full min-h-0 flex-col">
    {{ empty_state("Not found", "The requested " ~ (resource or "resource") ~ " doesn't exist.") }}
  </div>
{% endblock %}
