{% macro posts_link(post_id=none, q=none) %}
  {%- set parts = [] -%}
  {%- if q -%}{%- set _ = parts.append('q=' ~ (q | urlencode)) -%}{%- endif -%}
  {%- set suffix = ('?' ~ parts|join('&')) if parts else '' -%}
  {%- if post_id -%}/posts/{{ post_id }}{{ suffix }}{%- else -%}/posts{{ suffix }}{%- endif -%}
{% endmacro %}
